:root{
  --white-text:#fff;
}

.background-top-row{
  background-color: rgba(52,3,45,0.3);
  backdrop-filter: blur(.4rem);
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h3{
  margin: 20px auto;
  color: antiquewhite;
}
.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.card{
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow: hidden;
  width: 15rem;
  backdrop-filter: blur(1rem);
  background-color: rgba(255, 255, 255, 0.060);
  border: .1rem solid rgba(255, 255, 255, 0.18);
  color: var(--white-text);
}

.card h6{
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.card h2{
  letter-spacing: .1rem;
  margin: 1rem auto;

}

.top-row{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.top-row i{
  font-size: 2rem;
}

.top-row h4{
  margin-top: 3px;
}

.content{
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.content p{
  font-size: .9rem;
  margin-top: .5rem;    
}

.button{
  border-radius: 3rem;
  color: var(--white-text);
  font-size: .8rem;
  padding: .5rem .3rem;
  letter-spacing: .1rem;
  align-self: flex-end;
  border: .1rem solid rgba(255, 255, 255, 0.18);
}

.container-nav{
  width: 100%;
  height: 100px;
  background-color: transparent!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
}

.title{
  height: 100%;
}

.title button{
  padding: 10px;
  margin: 1px;
  background: transparent!important;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all .5s ease-in-out;
}



.search-form{
  height: 100%;
}

.search-form nav input{
  width: 150px;
  padding: 10px;
  margin: 1px;
  background: transparent!important;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.search-form nav button{
  padding: 10px;
  margin: 1px;
  background: transparent!important;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.paragraph{
  width: 500px;
  margin: auto;
  color: antiquewhite;
  text-align: center;
  padding: 30px;
}

.paragraph h2{
  font-size: 28px;
  margin-bottom: 10px;
  padding: 5px;
}

/* media queries */

@media (max-width:1030px){
  .container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
  }

  .title button{
    border: none;
  }
  .title-btn{
    display: none;
  }
}