:root{
  --white-text:#fff;
}

.background-top-row{
  background-color: rgba(52,3,45,0.3);
  backdrop-filter: blur(.4rem);
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 100vh;
  top:0;
  left: 0;
}

.card{
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  height: auto;
  overflow: hidden;
  width: 15rem;
  backdrop-filter: blur(1rem);
  background-color: rgba(255, 255, 255, 0.060);
  border: .1rem solid rgba(255, 255, 255, 0.18);
  color: var(--white-text);
  transition: all 1.5s;
}

.card h6{
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.card .weather{
  letter-spacing: .1rem;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
}

.card .weather img{
  padding: 0;
  margin: 0;
}

.top-row{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.top-row i{
  font-size: 2rem;
}

.top-row h4{
  margin-top: 5px;
}

.content{
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.content p{
  font-size: .9rem;
  margin-top: .3rem;    
}

.button{
  border-radius: 3rem;
  color: var(--white-text);
  font-size: .8rem;
  padding: .5rem .3rem;
  letter-spacing: .1rem;
  align-self: flex-end;
  border: .1rem solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.button:hover{
  background: rgba(134, 113, 113, 0.18);
}


.navBar{
  width: 100%;
  height: 100px;
  background-color: transparent!important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
}

.title{
  display: flex;
  flex-direction: row;
}

form{
  width: 100%;
  max-width: 15rem;
  border: 1px solid white;
  border-radius: 20px;
}
form input{
  width: 200px;
  padding: 10px;
  margin: 1px;
  background: transparent!important;
  border: none;
  border-collapse: collapse;
  color: white;
  outline: none;
}


.btn-nav{
  padding: 10px;
  margin: 1px;
  background: transparent;
  border-collapse: collapse;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.label-icon{
  display: none;
}


.btn{
  padding: 10px;
  margin: 1px 2px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn-sub-menu{
  padding: 10px;
  margin:0 2px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.btn:hover{
  background: rgb(6, 76, 78);
} 

.btn-sub-menu:hover{
  background: rgb(6, 76, 78);
} 

.sub-menu-block{
  display: block;
  width: 110px;
  margin-top:15px;
  padding: 5px 0;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  transition: all .3s ease-in-out;
  position: absolute;
}
.text-menu{
  margin: 0 5px;
}

.sub-menu-none{
  display: none;

}

li{
  list-style: none;
}
.sub-menu-block li{
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.sub-menu-block li:hover{
  background: rgb(6, 76, 78);;
}

.sub-menu-block li a{
  color: white;
  cursor: pointer;
}

.paragraph{
  width: 100%;
  max-width: 500px;
  height: auto;
  margin:100px auto;
  color: antiquewhite;
  text-align: center;
  padding:10px;
}

.paragraph h2{
  font-size: 28px;
  margin-bottom: 10px;
  padding: 5px;
}

.error{
  padding: 20px;
}

.content-loading{
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading{
  width: 100px;
  height: 100px;
  border: 5px solid #ccc;
  border-top: 5px solid rgb(56, 207, 56);
  border-radius: 100%;
  margin: auto;
  animation: turn 1.5s linear infinite;
}

.title-2{
  display: flex;
  flex-direction: row;
} 
@keyframes turn {
  from{ transform: rotate(0deg);}
  to{ transform: rotate(360deg);}
}


/* media queries */

@media (max-width:550px){
  .container{
      height: 100%;
  }

  .content{
    display: flex;
    flex-direction: column;
  }
  
  .navBar{
    flex-direction: column;
  }
  
  .paragraph{
    margin-top: 0;
    margin-bottom: 100px;
  }
  .card{
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .label-icon{
    display: block;
    margin: 10px;
    padding: 5px;
    background: transparent;
    font-size: 22px;
  }
  .title{
    display: none;
  }
  .title-2{
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
    background-color: rgba(51, 51, 51, 0.9);
    z-index: 100;
  }
  .title-2 li{
    margin:0 2px;
    border-bottom: 1px solid white;
    padding: 10px;
  }

  .title-2 li:hover{
    background: rgba(255, 255, 255, 0.3);
    
  }
  .title-2 li .btn, .title-2 li .btn-sub-menu{
    margin: 5px 10px;
    border: none;
    border-radius: 0;
    background: transparent;
  }

  .sub-menu-block{
    width: 100%;
    border: none;
  }
  .sub-menu-block li{
    border: none;
  }
  form{
    width: 100%;
  }

  form input, .btn-nav{
    padding: 5px;
  }

  
}
